In [9]:
import pandas as pd
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, 'np.nan', 9, 20, 14.5, 'np.nan', 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data)
print(df)
df.head()
df=df.drop(labels=[3,7],axis=0)
print(df)
df1=df.iloc[:,0:2]
print(df1)
df2={'name':'suresh','score':15.5,'attemprs':1,'qualify':'yes'}
df=df.append(df2,ignore_index=True)
print(df)
df=df.drop('attempts',axis=1)
print(df)
su=[12,13,14,8,7,9,17,18,15]
success=[]
for i in su:
    if i>10:
        i=1
        success.append(i)
    else:
        i=0
        success.append(i)
    i=i+1
df['success']=success
print(df)

        name   score  attempts qualify
0  Anastasia    12.5         1     yes
1       Dima       9         3      no
2  Katherine    16.5         2     yes
3      James  np.nan         3      no
4      Emily       9         2      no
5    Michael      20         3     yes
6    Matthew    14.5         1     yes
7      Laura  np.nan         1      no
8      Kevin       8         2      no
9      Jonas      19         1     yes
        name score  attempts qualify
0  Anastasia  12.5         1     yes
1       Dima     9         3      no
2  Katherine  16.5         2     yes
4      Emily     9         2      no
5    Michael    20         3     yes
6    Matthew  14.5         1     yes
8      Kevin     8         2      no
9      Jonas    19         1     yes
        name score
0  Anastasia  12.5
1       Dima     9
2  Katherine  16.5
4      Emily     9
5    Michael    20
6    Matthew  14.5
8      Kevin     8
9      Jonas    19
        name score  attempts qualify  attemprs
0  Anastasia  12.5       1.0     yes       NaN
1       Dima     9       3.0      no       NaN
2  Katherine  16.5       2.0     yes       NaN
3      Emily     9       2.0      no       NaN
4    Michael    20       3.0     yes       NaN
5    Matthew  14.5       1.0     yes       NaN
6      Kevin     8       2.0      no       NaN
7      Jonas    19       1.0     yes       NaN
8     suresh  15.5       NaN     yes       1.0
        name score qualify  attemprs
0  Anastasia  12.5     yes       NaN
1       Dima     9      no       NaN
2  Katherine  16.5     yes       NaN
3      Emily     9      no       NaN
4    Michael    20     yes       NaN
5    Matthew  14.5     yes       NaN
6      Kevin     8      no       NaN
7      Jonas    19     yes       NaN
8     suresh  15.5     yes       1.0
        name score qualify  attemprs  success
0  Anastasia  12.5     yes       NaN        1
1       Dima     9      no       NaN        1
2  Katherine  16.5     yes       NaN        1
3      Emily     9      no       NaN        0
4    Michael    20     yes       NaN        0
5    Matthew  14.5     yes       NaN        0
6      Kevin     8      no       NaN        1
7      Jonas    19     yes       NaN        1
8     suresh  15.5     yes       1.0        1